.search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-bottom: 20px;     
}

.input_search {
  background-color: #EFE9E9;
  border-radius: 13px;
  border: 0.6px solid #00000040;
  height: 46px;
  width: 64%;

  padding-left: 45px; 
  background-image: url("/icons/search.png"); 
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 18px 18px;
  font-size: 16px;
}
