.add_employee_container {
  display: flex;
  justify-content: center;
  align-items: center;   
  margin-bottom: 20px;
}

.add_employee_button {
  width: 197px;
  height: 55px;
  border-radius: 44px;
  border: hidden ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background: linear-gradient(135deg, #455DFF, #9EA6FB, #717EED);
  font-size: 14px;
  transition: all 0.2s ease;
}

.add_employee_button:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
.add_employee_button:active{
  transform: scale(0.95)
}